<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- Configuración para producción - ajustar el path según tu despliegue -->
      <aspNetCore processPath="bin\Debug\net8.0\AppAPIEmpacadora.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
      <!-- La configuración de CORS se manejará completamente en la aplicación -->
      <!-- Configuración de módulos - remover WebDAV que puede interferir -->
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <!-- Configuración de verbos HTTP -->
      <security>
        <requestFiltering>
          <verbs>
            <add verb="GET" allowed="true" />
            <add verb="POST" allowed="true" />
            <add verb="PUT" allowed="true" />
            <add verb="DELETE" allowed="true" />
            <add verb="OPTIONS" allowed="true" />
            <add verb="HEAD" allowed="true" />
            <add verb="PATCH" allowed="true" />
          </verbs>
        </requestFiltering>
      </security>
      <!-- Configuración de compresión -->
      <urlCompression doStaticCompression="true" doDynamicCompression="true" />
      <httpCompression>
        <dynamicTypes>
          <add mimeType="application/json" enabled="true" />
          <add mimeType="application/json; charset=utf-8" enabled="true" />
        </dynamicTypes>
      </httpCompression>
    </system.webServer>
  </location>
</configuration>